{% extends 'base.html' %}
{% block content %}

<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">To Do List</span>
    </a>
    {% if name %}
    <ul class="nav nav-pills">
      <li class="nav-item" style="list-style-type: none;"><a href="{% url 'login' %}" class="nav-link active" aria-current="page">Hello {{name}}</a></li>
  </ul>
    {% else %}
          <ul class="nav nav-pills">
            <li class="nav-item" style="list-style-type: none;"><a href="{% url 'login' %}" class="nav-link active" aria-current="page">Login</a></li>
            <li class="nav-item "style="list-style-type: none;"><a href="{% url 'registerUser' %}" class="nav-link">Sign Up</a></li>
        </ul>
     {% endif %}
  </header>
<!-- Begin page content -->
<main class="pt-5">
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
        <!-- App title section -->
        <div class="row m-1 p-4">
            <div class="col">
                <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                    <div class= "fs-4 mb-3">
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check-square-fill" viewBox="0 0 16 16">
                        <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"/>
                      </svg>
                    </div> 
                    <u>My Todo-s</u>
                </div>
            </div>
        </div>
        <!-- Create todo section -->
        <div class="row m-1 p-3">
            <div class="col col-11 mx-auto">
                <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                    <div class="col">
                        <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new ..">
                    </div>
                    <div class="col-auto m-0 px-2 d-flex align-items-center">
                        <label class="text-secondary my-2 p-0 px-1 view-opt-label due-date-label d-none">Due date not set</label>
                        <div class= "fs-4 mb-3 text-primary">
                    </div>
                    <div class="col-auto px-0 mx-0 mr-2">
                        <button type="button" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 mx-4 border-black-25 border-bottom"></div>
        <!-- Todo list section -->
        {% for task in tasks%}
        <ul class="list-group pt-3">
            <li class="list-group-item">{{task.name}}<div style="float: right;"><i class="bi bi-pencil-square text-warning"></i><i class="bi bi-trash3 ps-3 text-danger"></i></i></div></li> 
          </ul>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock %}